<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Yahoo!!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="login.html" method="post">
            <p th:text="${message}"></p>
            <div>
            <p>Usuário : <input type="text" id="name" name="name" th:value="${name}"/></p>
            <p>Senha: <input type="password" id="password" name="password"/></p>
            <p th:text="'session: ' + ${sessao}"></p>
            <p><input type="submit"/></p>
            </div>
        </form>
    </body>
</html>